:root {
    --primary: #f393fd;
    --primaryDarker: #bb2fca;
    --bg: rgb(217, 102, 102);
    --shadow: 2px 4px 6px black;
    --corners: 10px;
    --fontFamily: 'Permanent Marker', cursive;
    --backLight: rgb(224, 224, 224);
    --backDark: black;

}


body {
    /*background-image: url("bgImg.jpg");*/
    background-color: var(--bg);
    font-family: var(--fontFamily);
    font-size: 14pt;
    color: #57344a;
}


img {
    max-width: 100%;
}

button {
    background-color: var(--primary);
    color: var(--backDark);
    border-radius: var(--corners);
    box-shadow: var(--shadow);
    border: 1px solid #57344a;
    text-align: center;
    font-size: 14pt;
    font-family: var(--fontFamily);
    text-transform: uppercase;
    transition: all .2s ease;
    cursor: pointer;
    width: 50%;
}

button:hover {
    background-color: var(--primaryDarker);
}


.balloon {
    height: 120px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
    transition: all .2s ease;
}

.card {
    background-color: var(--backLight);
    padding: 1em;
    box-shadow: 2px 0 8px rgba(0, 0, 0, .3);
    border-radius: var(--corners);

}

header {
    margin: 3em 0;
}

.container {
    width: 50%;
    margin: auto;
}

.shadow {
    filter: drop-shadow(var(--shadow));
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.hidden {
    display: none !important;
}